.btn {
    padding: 10px 18px;
    font-size: 15px;
    border-radius: 0;
}

.rt-table-col-id {
    width: 70px;
    text-align: center !important;
}
.rt-table-col-actions {
    width: 125px;
}
.rt-table-col-two-actions {
    width: 270px;
}
.rt-table th {
    background-color: #ebe6e4;
    color: black;
    text-align: center;
    vertical-align: middle !important;
}
.rt-table td {
    vertical-align: middle !important;
    text-align: center;
}
.btn-edit {
    color: #ffffff;
    background-color: darkslategray;
    border-color: darkslategray;
}
.btn-delete {
    color: #ffffff;
    background-color: black;
    border-color: black;
}
.btn-primary {
    color: #ffffff;
    background-color: #2780e3;
    border-color: #2780e3;
}
.btn-edit:hover, .btn-edit:focus, .btn-edit:active, .btn-edit.active, .open .dropdown-toggle.btn-edit {
    color: #ffffff;
    background-color: #264040;
    border-color: #264040;
}

.btn-delete:hover, .btn-edit:focus, .btn-edit:active, .btn-edit.active, .open .dropdown-toggle.btn-edit {
    color: #ffffff;
    background-color: #264040;
    border-color: #264040;
}
